<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chargement...</title>
    <link href="../public/css/output.css" rel="stylesheet" />
  </head>
  <body class="flex flex-col justify-center items-center h-screen">
    <div class="flex flex-col items-center">
      <div class="mb-8">
        <!-- Logo image -->
        <img src="../public/images/logo.png" alt="Logo" class="w-20 h-20 object-contain" />
      </div>
      <div class="text-white text-xl animate-pulse">Chargement de l'application...</div>
    </div>
  </body>
</html>
